html, body {
    margin: 0;
    padding: 0;
    background: black;
    font-family: "Times New Roman", Times, serif;
    user-select: none;
}

#game {
    width: 512px;
    height: 522px;
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
}

#game_stats {
    cursor: default;
}

.controlls {
    float: right;
    margin-top: -18px;
}

.switch {
    cursor: pointer;
}
