body {
    width: 100%;
    height: 100%;
    background-color: black; 
    color: white;
    font-family: "Times New Roman", Times, serif;
}

#game_window {
    width: 512px;
    height: 532px;
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#top {
    width: 100%;
    height: 20px;
    display: flex;
    flex-direction: row;
    white-space: pre;
}

.click:hover {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.grid {
    width: 30px;
    height: 30px;
    background-color: silver;
    border: 1px solid black;
    cursor: pointer;
}

.asset {
    width: 32px;
    height: 32px;
    margin-left: 5px;
    cursor: pointer;
}

#assets {
    height: 32px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

#bot {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
}

#arrows {
    width: 100px;
    height: 100%;
}

.arrow {
    width: 30px;
    height: 30px;
    background-color: red;
    border: 1px solid white;
    float: left;
    margin: 1px 0 0 1px;
    text-align: center;
    cursor: pointer;
}

.arrow_center {
    float: none;
    margin-left: 34px;
}

i {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-top: 10px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}